 #  debugging logs
    *.log 
         # project dependencies
             node_modules
                 # OSX folder attributes
                     .DS_Store
                         # temporary files
                             *.tmp
 #backup files
 *.bak
#dist file es5
 dist
 public/dist
                                 *~
